In [12]:
import pandas as pd

file_path = "./forbes_richman.csv"
df = pd.read_csv(file_path, encoding="ISO-8859-1")

print(df.head())
print(df.info())

   Rank                      Name Net Worth   Age        Country  \
0   1.0                 Elon Musk    $219 B  50.0  United States
1   2.0                Jeff Bezos    $171 B  58.0  United States
2   3.0  Bernard Arnault & family    $158 B  73.0         France
3   4.0                Bill Gates    $129 B  66.0  United States
4   5.0            Warren Buffett    $118 B  91.0  United States

               Source               Industry
0       Tesla, SpaceX             Automotive
1              Amazon             Technology
2                LVMH       Fashion & Retail
3           Microsoft             Technology
4  Berkshire Hathaway  Finance & Investments
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2632 entries, 0 to 2631
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       2509 non-null   float64
 1   Name       2509 non-null   object
 2   Net Worth  2509 non-null   object
 3   Age        2430 non-null   float64
 4   Country    2509 non-null   object
 5   Source     2509 non-null   object
 6   Industry   2509 non-null   object
dtypes: float64(2), object(5)
memory usage: 144.1+ KB
None

In [15]:
# Drop rows with missing values
df = df.dropna()

# Drop rows with Rank as N/A
df = df[df["Rank"] != "N/A"]

# Convert columns to appropriate data types (e.g., integer, float)
df["Rank"] = df["Rank"].astype(int)
df["Age"] = df["Age"].astype(int)
df["Net Worth"] = df["Net Worth"].astype(str)

print(df.head())
print(df.info())

   Rank                      Name Net Worth  Age        Country  \
0     1                 Elon Musk    $219 B   50  United States
1     2                Jeff Bezos    $171 B   58  United States
2     3  Bernard Arnault & family    $158 B   73         France
3     4                Bill Gates    $129 B   66  United States
4     5            Warren Buffett    $118 B   91  United States

               Source               Industry
0       Tesla, SpaceX             Automotive
1              Amazon             Technology
2                LVMH       Fashion & Retail
3           Microsoft             Technology
4  Berkshire Hathaway  Finance & Investments
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2430 entries, 0 to 2508
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       2430 non-null   int64
 1   Name       2430 non-null   object
 2   Net Worth  2430 non-null   object
 3   Age        2430 non-null   int64
 4   Country    2430 non-null   object
 5   Source     2430 non-null   object
 6   Industry   2430 non-null   object
dtypes: int64(2), object(5)
memory usage: 151.9+ KB
None

In [16]:
output_file_path = "./preprocessed_forbes_richman.csv"
df.to_csv(output_file_path, index=False)